/* Core CSS */

.balance-statement {
    background-color: rgb(243, 240, 240);
}

.input {
    background-color: rgb(207, 212, 218);
    font-size: 20px;
}

.input:hover {
    background-color: rgb(183, 212, 247);
    font-size: 20px;
}

/* Media Queries for Mobile devices */

@media only screen and (max-width: 688px) {
    img {
        width: 100%;
        height: 500px;
        margin-bottom: 10px;
    }

    .balance-statement {
        width: 100%;
        font-size: 20px;
    }

    .input {
        background-color: rgb(207, 212, 218);
        font-size: 10px;
    }

    #save-btn {
        margin-top: 20px;
    }
}

/* Media Queries for Tablet Device */
@media only screen and (min-width: 688px) and (max-width: 992px) {
    img {
        margin-bottom: 20px;
    }
}